Django>=5.2,<6
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3
python-dotenv>=1.0
Pillow>=10.0
requests>=2.31
beautifulsoup4>=4.12
pandas>=2.0
ddgs>=9.0
gunicorn>=23.0
deep-translator>=1.11
faiss-cpu>=1.13
numpy>=2.0
openai>=2.0
pdfplumber>=0.11
pymongo>=4.16
PyMuPDF>=1.27
sentence-transformers>=5.2
